/*------------------------------------*\
    $BASE
\*------------------------------------*/
@import url(http://fonts.googleapis.com/css?family=Merriweather:400,700,400italic,700italic|Merriweather+Sans:700,400);


$base-font-size:             18px !default;
$base-line-height:           28px !default;

$base-serif-font-family:     'Merriweather', serif !default;
$base-san-serif-font-family: 'Merriweather Sans', sans-serif !default;
$base-font-family:           $base-serif-font-family !default;
$alt-font-family:            $base-san-serif-font-family !default;

$base-color:                 #ff4500 !default; //orangered
$base-border-width:          0.111111111em !default; // 2px / 18px
$base-radius:                3px !default;

/*------------------------------------*\
    $TYPOGRAPHY
\*------------------------------------*/
// 4:5
// modularscale.com/scale/?px1=18&px2=28&ra1=1.250&ra2=0

$font-size-alpha:    $base-font-size !default; //18
$font-size-beta:     23px !default;
$font-size-gamma:    28px !default;
$font-size-delta:    35px !default;
$font-size-epsilon:  44px !default;
$font-size-zeta:     55px !default;

$font-size-milli:    14px !default;
$font-size-micro:    12px !default;

$font-weight-light:  300 !default;
$font-weight-normal: 400 !default;
$font-weight-bold:   700 !default;
$font-weight-ultra:  900 !default;

/*------------------------------------*\
    $FRAMEWORK
\*------------------------------------*/
$base-spacing-unit:    $base-line-height!default;
$half-spacing-unit:    $base-spacing-unit / 2!default;
$quarter-spacing-unit: $base-spacing-unit / 4!default;
$line-height-ratio:    $base-line-height / $base-font-size;

/*------------------------------------*\
    $COLOR
\*------------------------------------*/
$color-base:         $base-color !default;
$color-black:        #000 !default;
$color-white:        #fff !default;

$color-gray-darker:  lighten($color-black, 13.5%);
$color-gray-dark:    lighten($color-black, 20%);
$color-gray:         lighten($color-black, 33.5%);
$color-gray-light:   lighten($color-black, 60%);
$color-gray-lighter: lighten($color-black, 93.5%);

$color-bg-dark:         $color-black;
$color-bg-light:        $color-white;
$color-text-dark:       $color-black;
$color-text-light:      $color-white;
$color-text-link:       $color-base;
$color-text-link-hover: darken($color-base, 10%);

$color-border:       darken($color-gray-lighter, 10%);
$color-success:      #3cb371 !default; //mediumseagreen
$color-error:        $base-color !default;
