{
  "dev": { // Default configuration
    "path"     : "FULL-PATH-TO-REMOTE-SERVER",
    "host"     : "HOSTNAME",
    "port"     : "PORT",
    "username" : "USERNAME"
  },
  "production": {
    "path"     : "FULL-PATH-TO-REMOTE-SERVER",
    "host"     : "HOSTNAME",
    "port"     : "PORT",
    "username" : "USERNAME"
  }
}

