// Let’s make the box model all nice, shall we...?
* {
  &,
  &:before,
  &:after{
    @include box-sizing(border-box);
  }
}

html{
  height:100%;
  background: $color-bg-light;
  color: $color-text-dark;
  font:#{($base-font-size/16px)*1em}/#{$line-height-ratio} $base-font-family;
  -ms-overflow-style: -ms-autohiding-scrollbar;
  -webkit-overflow-scrolling: touch;
}

body {
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
}

p {
  margin: 0 0 $base-spacing-unit;
}

a {
  @include transition( color 0.15s ease-out, opacity 0.15s ease-out);
  color: $color-text-link;
  text-decoration: none;

  &:hover,
  &:active,
  &:focus {
    color: $color-text-link-hover;
  }
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin-top: $base-spacing-unit;
  margin-top: rem($base-spacing-unit);
  margin-bottom: $half-spacing-unit;
  margin-bottom: rem($half-spacing-unit);
  font-weight: $font-weight-bold;
  font-family: $alt-font-family;
}

h1 {
  @include font-size($font-size-delta);
  margin-bottom: $base-spacing-unit;
  margin-bottom: rem($base-spacing-unit);
  line-height: 1.0625;
}

h2 {
  @include font-size($font-size-gamma);
}

h3,
h4,
h5,
h6 {
  @include font-size($font-size-beta);
  margin-top: 0;
  margin-bottom: 0;
}

h4,
h5,
h6 {
  font-weight: $font-weight-normal;
}

img {
  max-width: 100%;
}

// Remove the glow on buttons and input fields on Safari and Chrome.
:focus {
  outline-color: transparent;
  outline-style: none;
}

// Text Selection
//
// Has to be kept seperate set of rules to work.
//
::-moz-selection {
  background-color: lighten($base-color, 30%);
  color: $color-gray-dark;
}

::selection {
  background-color: lighten($base-color, 30%);
  color: $color-gray-dark;
}