.site-header {
  margin-bottom: $base-spacing-unit;
  padding-bottom: $half-spacing-unit;
  border-bottom: $base-border-width solid $color-gray-lighter;
}

.site-header__title {
  margin-bottom: 0;
}

.site-header__description {
  @include font-size($font-size-alpha);
  margin-top: 0;
  color: $color-gray-light;
  font-weight: $font-weight-normal;
  font-style: italic;
  font-family: $base-font-family;
}